<div class="container mt-5">
    <h1>Albums</h1>
    <nav class="mb-4">
        <a routerLink="/home" class="me-3">Home</a><br>
        <a routerLink="/about" class="me-3">About</a>
    </nav>
    <ul class="list-group">
      <li
        *ngFor="let album of albums"
        class="list-group-item d-flex justify-content-between align-items-center"
      >
        <a [routerLink]="['/albums', album.id]" class="flex-grow-1">
          {{ album.title }}
        </a>
        <button
          class="btn btn-danger btn-sm"
          (click)="deleteAlbum(album.id)"
        >
          Delete
        </button>
      </li>
    </ul>
</div>