* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background-color: #f5f5f5;
}

.top-bar {
    background-color: #005ba1;
    color: white;
    text-align: center;
    padding: 10px;
    font-size: 14px;
}

.top-bar a {
    color: white;
    text-decoration: none;
}

.top-bar p :hover {
    text-decoration: underline;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: left;
    padding: 15px 50px;
    background-color: white;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.logo img {
    height: 30px;
}

.nav-links {
    list-style: none;
    display: flex;
}

.nav-links li {
    margin: 0 15px;
}

.nav-links a {
    text-decoration: none;
    color: #333;
    font-size: 14px;
}

.nav-icons a {
    margin-left: 15px;
    text-decoration: none;
    color: #333;
}

.hero {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px;
    background: linear-gradient(to right, #e3eaf5, white);
}

.hero-content {
    max-width: 40%;
    background-color: white;
    padding: 40px;
}

.hero-content h1 {
    font-size: 36px;
    margin-bottom: 15px;
}

.hero-content p {
    font-size: 16px;
    margin-bottom: 20px;
}

.hero-content button{
    padding: 10px 20px;
    background-color: #0078d4;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    top: 0px;
}

.hero-image img {
    width: auto;
    height: 260px;
}

.categories {
    display: flex;
    justify-content: center;
    gap: 15px;
    padding: 20px;
    background-color: white;
}

.categories a {
    text-decoration: none;
    color: #0078d4;
    font-size: 14px;
}

.products {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
    padding: 50px;
    background-color: white;
}

.product {
    width: 300px;
    height: 400px;
    background-color: white;
    padding: 20px;
    text-align: left;
    overflow: hidden;
    border-radius: 3px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.product img {
    width:  300px;
    height: 200px;
    margin-left: -20px;
    margin-top: -20px;
    object-fit: cover;
}

.product h3 {
    font-size: 28px;
    margin-bottom: 10px;
}

.product p {
    font-size: 16px;
    margin-bottom: 15px;
}

.product button {
    padding: 10px 20px;
    background-color: #0078d4;
    color: white;
    border: none;
    border-radius: 1px;
    cursor: pointer;
    position: relative;
    bottom: 11px;
}
